.container {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  .icon {
    position: absolute;
    top: 0;
    left: 0;
    g {
      padding: 4px;
    }
  }
  &:active {
    background-color: transparent;
  }
}
