$theme: rgb(42, 105, 210);
$theme_dark: adjust-color($theme, $lightness: -5%);
$theme_pale: adjust-color($theme, $lightness: +15%);
$radius: 2px;

.settings_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}
.settings_head {
  display: flex;
  width: 100%;
  height: 64px;
  margin-bottom: 32px;
  padding-bottom: 16px;
  justify-content: center;
  list-style-type: none;
  border-bottom: #f0f0f0 solid 1px;
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
  }
}
.settings_item {
  display: flex;
  width: 100%;
  height: 48px;
  margin: 4px 0;
  list-style-type: none;
  button {
    width: 100%;
    background-color: transparent;
    color: #252528;
    border: none;
    font-size: 16px;
    cursor: pointer;
    &:active {
      background-color: #f0f0f0;
    }
  }
  .logout {
    color: #dd5050;
  }
}
.separator {
  width: 100%;
  margin: 8px;
  border-bottom: #f0f0f0 solid 1px;
  list-style-type: none;
}
