$theme: rgb(112, 224, 144);
$theme_dark: adjust-color($theme, $lightness: -5%);
$theme_pale: adjust-color($theme, $lightness: +25%);
$radius: 2px;

.search_form {
  width: 100%;
  margin: 32px 0 0 0;
  .input_row {
    margin: 16px 0;
    text-align: left;
  }
  .input_text {
    width: 98%;
    height: 28px;
    background-color: #e5e5e7;
    border: none;
    border-radius: $radius;
    font-size: 90%;
    font-weight: bold;
    color: #252528;
    &:focus {
      outline: $theme_pale 1px solid;
    }
  }
  .input_select {
    margin: 5px 16px;
    padding: 5px;
    border: 1px solid #eaeaec;
    background-color: #f0f0f2;
    border-radius: $radius;
    font-size: 80%;
    color: #252528;
  }
  .input_error {
    color: red;
    font-size: 90%;
    font-weight: normal;
  }
  .form_buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.search_result_container {
  width: 100%;
  margin: 32px 0;
  border-top: #f0f0f0 solid 1px;
  ul {
    width: 100%;
    padding: 0;
  }
}
