$theme: rgb(144, 220, 144);
$theme_dark: adjust-color($theme, $lightness: -5%);
$theme_pale: adjust-color($theme, $lightness: +15%);

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 8vh;
  border-bottom: 1px solid #f0f0f0;
  background-color: white;
  .header_contents {
    display: flex;
    height: 8vh;
    align-items: center;
  }
  .index {
    margin: 0 4px;
  }
  .link {
    text-decoration: none;
  }
  .back_ward_button {
    margin: 0 4px 0 8px;
    text-align: start;
    color: #2540d0;
  }
}
.main {
  width: 100%;
  height: 80dvh;
  margin-top: 8dvh;
  .talk_container {
    overflow-y: scroll;

    ul {
      margin: 0;
      padding: 0;
      text-align: right;
    }
    li {
      list-style-type: none;
      display: flex;
      margin: 12px 8px;
      .message_container {
        display: flex;
        align-items: center;
        width: fit-content;
      }
      .message {
        margin: 0 8px;
        padding: 7px;
        max-width: 50vw;
        border-radius: 10px;
        background-color: #f0f0ff;
        text-align: left;
      }
      .icon {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: #e0e0e0;
      }
    }
    .scroll_ref {
      height: 8dvh;
    }
    .my_post {
      justify-content: end;
    }
  }
}
.form {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5dvh;
  padding: 8px 0 16px 0;
  background-color: white;
  .form_contents {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 36px;
    .input_left_space {
      width: 10%;
      height: 100%;
    }
    .input_container {
      width: 90%;
      height: 100%;
      display: flex;
    }
    .input_text {
      width: calc(100% - 72px);
      height: 90%;
      margin: 0 8px;
      background-color: #f0f0f0;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      color: #252528;
      &:focus {
        outline: $theme_pale 1px solid;
      }
    }
    .button {
      width: 72px;
      height: 100%;
      margin: 0 8px;
      border: none;
      background-color: $theme_dark;
      color: white;
      border-radius: 8px;
      font-size: 16px;
      font-weight: normal;
    }
  }
}
